.space{
    margin-top: 45px;
}
.border {
    border: 5px solid black;
    padding: 1px;
}
.size {
     width: 300px;
    height: 250px;
}
.bg{
    background-color:#fcf4ec;
    
}
.padding{
    padding-left:0px;
}
.font{
    font-family: 'Libre Baskerville', serif;
    margin-top:15px;
}
.nav-wrapper a{
    text-decoration: none;
}