{% extends 'base.html' %}
{% block content %}
<section class="container space">
    <div>
          <h1>Search for a burger</h1>
      </div>
    <div id="search" class="open bg4 padding3">
            
            <form action='{{url_for("search_recipes",register_id=register._id)}}' method="POST"  autocomplete="off">
                    <input id="search" name='search'type="search" class="validate"  placeholder="search your recipe">
                    <button class="btn btn-info btn-lg btn-site text-center " type="submit"><i class="material-icons prefix">search</i>Search</button>
            </form>
            </div>
<div class="row">
    <div class="col-md-12 text-center">
  <h3 class="text-center space">sorry to say we don't have that recipe</h3>
  <br>
  <h5 class="text-center space">{{message|safe}}</h5>
</div>
</div>
</section>
{% endblock %}