{% extends "base.html" %}
{% block content %}
<section class="container">
  <h1>Edit Recipe</h1>
 <form action='{{url_for("update_recipes", recipes_id=recipes._id, register_id=register._id)}}' method='POST' class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">local_dining</i>
          <input id="username" name='name'  type="text" value='{{recipes.name}}' class="validate" placeholder="Name" !required>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">shopping_basket</i>
          <input id="username" name='ingredients'  type="text" value='{{recipes.ingredients}}' class="validate" placeholder="Ingredients" !required>
          
        </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
          <i class="material-icons prefix">description</i>
          <textarea name="steps" id="steps" class="materialize-textarea" data-length="2500" value='{{recipes.steps}}' required>{{recipes.steps}}</textarea>
          <label for="icon_telephone">Steps</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">insert_photo</i>
          <input id="imageURL" name="imageURL" type="text" value='{{recipes.imageURL}}' placeholder="Image URL" class="validate">
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">timer</i>
          <input id="preparation" name="preparation" type="text" value='{{recipes.preparation}}' placeholder="Preparation Time" class="validate">
          
        </div>
                <div class="input-field col s6">
          <i class="material-icons prefix">hourglass_full</i>
          <input id="cooking" name="cooking" type="text" class="validate" placeholder="Cooking Time" value='{{recipes.cooking}}'>
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="credit" name='credit'type="text" class="validate" placeholder="credits to" value='{{recipes.creditTo}}'>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
    <i class="material-icons right">playlist_add</i>
  </button>
  </div>
    </div>
    </form>
  
</section>
{% endblock %}