{% extends "base.html" %}
{% block content %}

<section class="container-fluid">
<div class="row">
  <div class="col-md-12">
           <form id="search-box"action='{{url_for("search_recipes",register_id=register._id)}}' method="POST" >
      <div class="row">
        <div>
          <input id="search" name='search'type="search" class="validate" placeholder="search your recipe">
        </div>
        </div>
        </form>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Welcome! To Burger Recipes</h2>
          </div>
        </div>
  <div class="row">
{% for recipes in recipes %}
 
<div class="col-md-4">
          <a style="
    text-decoration: none;
    color: black;"href="{{url_for('show_recipes',recipes_id=recipes._id,register_id=register._id)}}"><img class="image"src="{{recipes.imageURL}}"></img><h4 class="title-text">{{recipes.name}}</h4></a>
          </div>
          
{% endfor %}
</div>
</section>
{% endblock %}