{% extends "base.html" %}
{% block content %}

<section class="container">

        <div class="slider space">
    <ul class="slides">
      <li>
        <img class="bg-slide-image" src="{{url_for('static', filename='images/bg-slide1.jpg')}}"> <!-- random image -->
        <div class="caption left-align">
          <h1>Welcome to Burger Recipe</h1>
        </div>
      </li>
      <li>
        <img class="bg-slide-image" src="{{url_for('static', filename='images/bg-slides.jpg')}}"> <!-- random image -->
        <div class="caption left-align">
          <h1>Where Burger enthusiasts <br>
          discover new favourites</h1>
        </div>
      </li>
      <li>
        <img class="bg-slide-image" src="{{url_for('static', filename='images/bg-slide3.jpg')}}"> <!-- random image -->
        <div class="caption left-align">
          <h1>I always say, <br> Eat clean to stay fit  <br>have a burger to stay sane</h1>
        </div>
      </li>
      
    </ul>
  </div>
  <div class="row">
{% for recipes in recipes %}
 {% if recipes.imageURL%}
     <div class="col-md-6 text-center">
          <a style="
    text-decoration: none;
    
    color: black;"href="{{url_for('show_recipes',recipes_id=recipes._id,register_id=register._id)}}"><img class="image"src="{{recipes.imageURL}}"></img><h4 class="title-text">{{recipes.name}}</h4></a>
          </div>
          {% else %}
           <div class="col-md-6 text-center">
          <a style="
    text-decoration: none;
    color: black;"href="{{url_for('show_recipes',recipes_id=recipes._id,register_id=register._id)}}"><img class="image"src="{{url_for('static', filename='images/no-image.jpg')}}"></img><h4 class="title-text">{{recipes.name}}</h4></a>
          </div>
          {% endif %}
{% endfor %}
</div>

  

</section>
{% endblock %}