{% extends "base.html" %}
{% block content %}

<section class="container space">
<div class="row">
           <form action='{{url_for("search_recipes",register_id=register._id)}}' method="POST">
      <div class="row">
        <div>
          <input id="search" name='search'type="search" class="validate">
        </div>
        </div>
        </form>
        </div>
  <div class="row">

<div class="col-md-4">
         
          <a href="{{url_for('show_recipes',recipes_id=recipes._id,register_id=register._id)}}"><img src="{{recipes.imageURL}}"></img><h4>{{recipes.name}}</h4></a>
          </div>
          
                    {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                
                   {% for message in messages %} 
                     <h5 class="font3">
                         {{ message }}                                                                
                     </h5>
                   {% endfor %}
                
            </div>
            {% endif %}
            {% endwith %}
        
        

 
</div>
</section>

{% endblock %}