{% extends "base.html" %}
{% block content %}

<section class="container-fluid ">
<div class="row">
  <div class="col-md-12">
           <form id="search-box"action='{{url_for("search_recipes",register_id=register._id)}}' method="POST" >
      <div class="row">
        <div>
          <input id="search" name='search'type="search" class="validate" placeholder="search your recipe">
        </div>
        </div>
        </form>
        </div>
        </div>
  <div class="row">

<div class="col-md-12 text-center">
          
          <a style="
    text-decoration: none;
    color: Black;"href="{{url_for('show_recipes',recipes_id=recipes._id,register_id=register._id)}}"><img class='image' src="{{recipes.imageURL}}"></img><h4>{{recipes.name}}</h4></a>
          
          </div>
          <div class="text-center ">
                    {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                
                   {% for message in messages %} 
                     <h3 class="font3">
                         {{ message }}                                                                
                     </h3>
                   {% endfor %}
                
            </div>
            {% endif %}
            {% endwith %}
        
        

 </div>
</div>
</section>

{% endblock %}